<!DOCTYPE html>
<div class="nav_bar_link">
	<a href="/" class="title_nav_text home_nav">Home</a>
	<a href="/#gallery" class="title_nav_text gallery_nav">Gallery</a>
	<a href="/resources" class="title_nav_text resources_nav">Resources</a>
	<a href="/about" class="title_nav_text about_nav">About</a>
	<div class="action_link">
		<a href="/contract" class="title_nav_text"><span class="convo_action">New Convervation</span></a>
		<a href="https://docs.google.com/forms/d/19FEq5Fmr95Du4eRdjp3Gsi1c9mxasBO1pdqD9Iy1nTU/viewform" target="_blank" class="title_nav_text"><span class="feedback_action">Feedback</span></a>
	</div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
