<!DOCTYPE html>
<div class="nav_bar_link">
	<a href="/" class="title_nav_text">Vincere the Memory</a>
	<nav id="colorNav">
		<ul>
			<li class="nav_lines">
				<a href="#" class="menubut icon-menu show_hide"></a>
					<div class="menubar">
						<div class="center_menu"><a href="/" class="menuitem menu1">Home</a></div>
						<div class="center_menu"><a href="/resources" class="menuitem menu2">Resources</a></div>
						<div class="center_menu"><a href="/about" class="menuitem menu3">About</a></div>
					</div>
			</li>
		</ul>
	</nav>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		jQuery.noConflict();
		$(".icon-menu").show();
		$(".menubar").hide();
		$(".icon-menu").toggle(
		function(){
	  		$(".menubar").slideUp().slideToggle(400);
		},
		function(){
	  		$(".menubar").slideDown().slideToggle(400);
		});
	});
</script>