<!DOCTYPE html>
<div class="nav_bar_link blue">
	<span class="title_nav_text">SAFE SPACE</span>
	<nav id="colorNav">
		<ul>
			<li class="nav_lines">
				<a href="http://www.google.com" class="icon-menu"></a>
			</li>
		</ul>
	</nav>
</div>