<!DOCTYPE html>
<html lang="en">
	<%- include partials/header.ejs %>
</head>
<body style="padding:0">
	<canvas id="draw" resize="true" keepalive="true"></canvas>
<script type="text/paperscript" src="javascripts/draw.js" canvas="draw"></script>
</body>
</html>