<!DOCTYPE html>
<html lang="en">
<head>
	<%- include partials/header.ejs %>	
	<% if (usingNewSite) { %>
	<% } %>
	
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://cdn.peerjs.com/0.3/peer.min.js"></script>
	<script type="text/paperscript" src="javascripts/draw.js" canvas="draw"></script>
	 <script src='/socket.io/socket.io.js'> </script>
	<script src='/javascripts/audiostream.js'> </script>
</head>
<body style="padding:0">
	<script>
		function doThis() {
/**
 *    Ken Fyrstenberg Nilsen
 *    Abidas Software
*/
	console.log("in function")
	var canvas = document.getElementById('draw');

	// create a dataUrl from the canvas
var dataURL= canvas.toDataURL();

// use jQuery to POST the dataUrl to you php server
$.ajax({
    type: "POST",
    url: "./public/php/upload.php",
    data: {image: dataURL}
}).done(function( respond ) {
    // Done...report success or failure
    // You will get back the temp file name
    // or "Unable to save this image."
    console.log(respond);
});
};

</script>
	<canvas id="draw" resize="true" keepalive="true"></canvas>
	<input id="save" type="button" class="button style2 scrolly" value="Connect and draw"></input>
		<script>
        $("#save").click(function(){
        	console.log("1");
        	var canvas = document.getElementById("draw");
        	console.log("slkdfjlsdkfj");
			var dataURL = canvas.toDataURL();
			console.log("2");
			console.log(dataURL);
			window.open(dataURL, "toDataURL() image");
			
           /* $.ajax({
                type: "POST",
                url: "/php/upload.php",
                data: {image: dataURL}
            }).done(function(respond){
                console.log(respond);
            });*/
        });
		</script>
	<button class="soundButton" id="unmuteButton" type="button" onclick="unmuteAudio();" style="display: none">
      <img src="/images/sound-drawn-blue-mute.png" class="sound-icon"> </img>
    </button> 

    <button class="soundButton" id="muteButton" type="button" onclick="muteAudio();" >
      <img src="/images/sound-drawn-blue.png" class="sound-icon"> </img>
    </button> 

    <audio id="remoteaudio" autoplay> </audio>
</body>
</html>