<!DOCTYPE html>
<html lang="en">
	<%- include partials/header.ejs %>
</head>
<body>
	<%- include partials/nav.ejs %>
	<br/>
	<!-- Banner -->
	<section id="banner">
		<header>
			<h2>Before you get started...</h2>
		</header>
		<p>Did we mention that this site is only for <b>survivors</b> of sexual assault? Not their friends or anyone else. Sorry, but we want survivors to feel like they’re in a safe space.</p>
		<p>So with that in mind, repeat after me:</p>
		<p class="indent_p">I am a survivor of sexual assault. It sucked, but I’m ready to talk about it. And I want to talk about it with another survivor.</p>
		<p class="indent_p">We’re going to help each other.</p>
		<p class="indent_p">We’re going to be supportive.</p>
		<p class="indent_p">And we’re going to have as much fun as we can by drawing silly pictures.</p>


		<footer>
			<a href="/connect" class="button style2 scrolly">I agree. I'm ready to meet another survivor!</a>
			<!--commenting out for now
			<form class="tell_story_connect" method="post" action="/connect">
				<textarea id="message_input" class="text_input" name="user_story" placeholder="Introduce yourself with your story."></textarea>

				<input type="submit" class="button style2 scrolly" value="I agree. I'm ready to meet another survivor!">
			</form>
		-->
		</footer>
		
	</section>
</body>
</html>