<!DOCTYPE html>
<html lang="en">
<head>
	<%- include partials/header.ejs %>
</head>
<body>
	<%- include partials/nav.ejs %>
	<!-- Banner -->
	<section id="banner" class="contract_banner">
		<article class="container">
			<p class="life_reminder">&nbsp;&nbsp;&nbsp;If you are in danger, considering suicide, or need emergency help, call 911 now.<p>
			<p class="contract_reminder">&nbsp;&nbsp;&nbsp;We are dedicated to providing a safe space for survivors of<br>&nbsp;&nbsp;&nbsp;sexual assault <span class="sa_color" style="font-weight:bold">only</span>. Please respect this.</p>
			<header><h2>As survivors of sexual assault</h2></header>
		<p class="indent_p odd">We are going to help each other.</p>
		<p class="indent_p even">We are going to support each other.</p>
		<p class="indent_p odd last">And we are going to laugh over drawing silly pictures.</p>
		<footer>
			<div id="contract_agree" class="center_button">
				<form id="tell_story_connect" method="post" action="/connect">
<<<<<<< HEAD
<<<<<<< HEAD
					<div id="message_textarea"> <textarea rows="4" cols="10" id="message_input" class="text_input" name="user_story" placeholder="Write a quick version of your story. Your partner will see this as an introduction to you."></textarea></div>
					<input id="contract_button" type="button" class="contract_button button style2 scrolly scrolly-centered" onClick="submitForm();" value="I'm ready to meet another survivor">
=======
					<div id="message_textarea"> <textarea rows="4" id="message_input" class="text_input" name="user_story" placeholder="Write a quick version of your story. Your partner will see this as an introduction to you."></textarea></div>
					<input type="button" class="contract_button button style2 scrolly scrolly-centered" onClick="submitForm();" value="I'm ready to meet another survivor">
>>>>>>> parent of 08ec2af... contract/index
=======
					<div id="message_textarea"> <textarea rows="4" id="message_input" class="text_input" name="user_story" placeholder="Write a quick version of your story. Your partner will see this as an introduction to you."></textarea></div>
					<input type="button" class="contract_button button style2 scrolly scrolly-centered" onClick="submitForm();" value="I'm ready to meet another survivor">
>>>>>>> parent of 08ec2af... contract/index
				</form>
				<script>
					function submitForm() {
						var storyText = $('#message_input').val();
						if(storyText.length == 0) storyText = "No story.";
						var storyData = JSON.stringify({
        					story: storyText
    					});
						$('<input type="hidden" name="storyData"/>').val(storyData).appendTo('#tell_story_connect');
						$("#tell_story_connect").submit();
					}
				</script>
			</div>
		</footer>
	</article>		
	</section>
	<!-- Google analytics -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-51450801-1', 'vincere.herokuapp.com');
	  ga('send', 'pageview');
	</script>
</body>
</html>