<!DOCTYPE html>
<html lang="en">
	<%- include partials/header.ejs %>
</head>
<body>
	<%- include partials/nav.ejs %>
	<!-- Banner -->
	<section id="banner">
		<header>
			<h2>Before you get started...</h2>
		</header>
		<p>Did we mention that this site is only for <b>survivors</b> of sexual assault? Not their friends or anyone else. Sorry, but we want survivors to feel like they’re in a safe space.</p>
		<p>So with that in mind, repeat after me:</p>
		<p class="indent_p">I had an unwanted sexual experience. It was horrible, but I'm ready to talk to someone about it.</p>
		<p class="indent_p">We’re going to help each other.</p>
		<p class="indent_p">We’re going to be supportive.</p>
		<p class="indent_p">And we’re going to have as much fun as we can by drawing silly pictures.</p>


		<footer>
			<div id="contract_agree">
				<form id="tell_story_connect" method="post" action="/connect">
					<textarea id="message_input" class="text_input" name="user_story" placeholder="Tell your upcoming partner your story. Just a short version - you can elaborate once you meet them in a minute."></textarea>
					<br/>
					<input type="button" class="button style2 scrolly" onClick="submitForm();" value="I agree. I'm ready to meet another survivor!">
				</form>

				<script>
					function submitForm() {
						var storyData = JSON.stringify({
        					story: $('#message_input').val()
    					});
						$('<input type="hidden" name="storyData"/>').val(storyData).appendTo('#tell_story_connect');
						$("#tell_story_connect").submit();
					}
				</script>
			</div>
		</footer>
		
	</section>

	<!-- Google analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51450801-1', 'vincere.herokuapp.com');
  ga('send', 'pageview');

</script>
</body>
</html>