<!DOCTYPE html>
<html lang="en">
	<%- include partials/header.ejs %>
</head>
<body>
	<%- include partials/nav.ejs %>
	<!-- Header -->
	<section id="header">
		<header>
			<h1>Vincere the Memory</h1>
			<p>Talk to other survivors. Overcome the memory of your sexual assault.</p>
		</header>
		<footer>
			<a href="#banner" class="button style2 scrolly scrolly-centered">How does it work?</a>
		</footer>
	</section>

	<!-- Chrome pop-up -->
	<div class="notification normal_page">Use Google Chrome on desktop/laptop for the best experience on our site.
		<a href="#" class="close_x icon-close"></a>
	</div>

	<div id="when_to_login">Come talk to someone 5/28 at 1-2am or 8-9pm.<span id="login_subtext"><br/>Feel free to poke around the site now, but if there's no one to talk to now, come back later!</span></div>

	<!-- Banner -->
	<section id="banner">
		<header>
			<h2>This is a Safe Space for You</h2>
		</header>
		<p>This site is a place for you*, the survivor of that horrible sexual assault, to come together with another survivor. Talk, bond, draw together...with our site, you’ll share a unique and anonymous conversation with another survivor over a 1:1 audio chat while painting on a shared online canvas. It’s fun...but don’t take our word for it; take it out for a spin yourself by clicking "Talk to someone" below. Or check out some of the <a href="#gallery">past creations</a>.</p>
		<p>Vincere means to overcome. You are unbreakable. </p>
		<p class="postscript_p">*And yes, this means that if you’re not a survivor of sexual assault, this is not the place for you. We’re sorry, but we need to respect the privacy of survivors. If you want to talk, call the <a href="http://www.ywca.org/site/c.cuIRJ7NTKrLaG/b.8778673/k.2A72/Domestic_Violence_and_Violence_Against_Women.html">YWCA</a> at (800) 572-2782.</p>

		<footer>
			<div class="center_button">
				<a href="#gallery" class="button style2 scrolly">Gallery</a>
				<a href="/contract" class="button style2 scrolly">Talk to someone</a>
			</div>
		</footer>
	</section>

	<!-- Header -->
	<section id="gallery">
	<article class="container box style2">
		<section id="banner themes">
			<h1>Gallery</h1>
			<br/>
		</section>
		<header>
			<h2>May 18 - May 24</h2>
			<p>"The Internet is becoming the town <strong>square</strong> for the global village of tomorrow."<br /><span class="author">-Bill Gates</span></p>
		</header>
		<div class="inner gallery">
			<div class="row flush">
				<div class="4u"><a href="images/1.png" class="image full"><img src="images/1.png" alt="" title="May 19: 6 minutes" /></a></div>
				<div class="4u"><a href="images/image1_247.png" class="image full"><img src="images/image1_247.png" alt="" title="May 20: 23 minutes" /></a></div>
				<div class="4u"><a href="images/image4_247.png" class="image full"><img src="images/image4_247.png" alt="" title="May 22: 15 minutes" /></a></div>
			</div>
		</div>
	</article>
	<article class="container box style2">
		<header>
			<h2>May 11 - May 17</h2>
			<p>"Climb the <strong>mountains</strong> and get their good tidings. Nature's peace will flow into you as sunshine flows into trees. The winds will blow their own freshness into you, and the storms their energy, while cares will drop away from you like the leaves of Autumn."<br /><span class="author">-John Muir</span></p>
		</header>
		<div class="inner gallery">
			<div class="row flush">
				<div class="4u"><a href="images/image5_247.png" class="image full"><img src="images/image5_247.png" alt="" title="May 12: 9 minutes" /></a></div>
				<div class="4u"><a href="images/2.png" class="image full"><img src="images/10.png" alt="" title="May 13: 32 minutes" /></a></div>
				<div class="4u"><a href="images/image2_247.png" class="image full"><img src="images/image2_247.png" alt="" title="May 14: 17 minutes" /></a></div>
			</div>
		</div>
	</article>
	<article class="container box style2">
		<header>
			<h2>May 4 - May 10</h2>
			<p>"The life of man is a self-evolving <strong>circle</strong>, which, from a ring imperceptibly small, rushes on all sides outwards to new and larger circles, and that without end. The extent to which this generation of circles, wheel without wheel, will go, depends on the force or truth of the individual soul."<br /><span class="author">-Ralph Waldo Emerson</span></p>
		</header>
		<div class="inner gallery">
			<div class="row flush">
				<div class="4u"><a href="images/2.png" class="image full"><img src="images/6.png" alt="" title="May 6: 19 minutes" /></a></div>
				<div class="4u"><a href="images/image3_247.png" class="image full"><img src="images/image3_247.png" alt="" title="May 9: 4 minutes" /></a></div>
				<div class="4u"><a href="images/image6_247.png" class="image full"><img src="images/image6_247.png" alt="" title="May 10: 42 minutes" /></a></div>
			</div>
		</div>
	</article>
	</section>
	<script type="text/javascript">
	jQuery(document).ready(function($) {
		jQuery.noConflict();
		$(".icon-close").click(function() {
			$(".notification").hide();
		});
	});
</script>

<!-- Google analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51450801-1', 'vincere.herokuapp.com');
  ga('send', 'pageview');

</script>
</body>
</html>